.done {
    text-decoration: line-through;
    color : gray;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 5px;
}

button {
    background-color: bisque;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

input {
    margin-bottom: 5px;
}